.loginContent {
  display: flex;
  height: 25rem;
  justify-content: center;
  margin-top: 10em;
  text-align: center;
}

.loginCard {
  width: 300px;
  box-shadow: 0px 0px 2px 1px skyblue;
}

.loginCard:hover {
  box-shadow: 0px 0px 10px 1px skyblue;
}

.loginInput {
  margin: 5px 0;
  border-radius: 30px;
}

.loginButton {
  margin-top: 50px;
  width: 250px;
  border-radius: 30px;
  background-color: #e6f4ff;
}
// .textCenter {
//   text-align: center;
// }
// tr:hover {
//   background-color: gray;
// }
