.writeListLink {
  color: black;
}

.writeListContent {
  padding: 0 300px;
  margin-top: 50px;
}

.test {
  display: block;
  text-decoration: none;
  color: black;
  td:hover {
    color: rgb(164, 88, 236);
  }
}
